$black: #000;
$white: #f5f5f5;
$pink-light: #f4dbdb;
$pink-ligth-hover: #ffcaca;
$blue-light: #cbe3e9;
$blue-light-hover: #c4e4eb;

$text-blue: #a7b3d2;
$text-description: #b58080;
$text-success: #3e60b6;
$text-error: #f01414;

$input-border: $pink-light;
$btn-primary: $blue-light;
$btn-primary-hover: $blue-light-hover;
$background-color: $white;
